<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>로그인</h1>
    <form method="post" action="/login/">
        <label>ID: <input type="text" name="userid"></label><br><br>
        <label>PW: <input type="password" name="password"></label><br><br>
        <button type="submit">로그인</button>
    </form>
    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}
</body>
</html>
